* {
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
}


/* Layout */

#drum-machine {
  margin: 0 36%;
  max-width: 800px;
  display: grid;
  gap: 0.8em 0.8em;
  grid-template-columns: repeat(3, 1fr);
}

#display {
  grid-column: 1 / 4;
  height: 32px;
}

.drum-pad {
  border-radius: 8px;
  border: 1px solid black;
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
